.styleBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8D2B8;
  font-size: 1.32rem;
  padding: 1rem 0;
}

.accountNav {
  text-align: right;
  padding: 0.45rem 1rem;
  letter-spacing: 0.03rem;
}

.accountNav li {
  display: inline-block;
  margin-left: 4.6rem;
  font-size: 1.3rem;
}

.headerMiddleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 5rem;
}

.headerMiddleContainer img {
  width: 20rem;
}

.headerMiddleContainer input {
  color: #5A493E;
  position: absolute;
  padding: 0.9rem 3rem 0.9rem 1rem;
  font-size: 1.3rem;
  width: 100%;
  max-width: 22.2rem;
  right: 5rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  background-image: url(../assets/icons/search-solid.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 94%;
  background-size: 1.3rem;
  justify-self: end;
}

.storeNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeNav ul {
  list-style: none;
  margin: 0;
  padding: 0.35rem 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1600px;
}

.storeNav li {
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: -0.05rem;
}

@media only screen and (max-width: 1000px) {
  .storeNav {
    display: none;
  }

  .headerMiddleContainer input {
    display: none;
  }
}