/* Styles specific to the Product.js component */

.productContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: box-shadow 0.2s ease;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid white;
    max-width: 20rem;
    margin: 0 0.5rem;
}

.productContainer .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer:hover {
    box-shadow: rgb(176, 206, 226) 0 0 5px;
}

.productContainer img {
    width: 15rem;
}

.productContainer img:hover {
    width: 15.5rem;
}

.productContainer p:nth-child(1) {
    font-weight: bold;
}

.productContainer p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: lighter;
}

.productContainer button {
    position: relative;
    top: 100px;
    transition: top 0.2s ease 
}

.productContainer:hover button {
    top: 0px;
}